{% extends "templatesVentas/venta.html" %}

{% block content %}
<head>
    
</head>
<body>
    <div class="container py-5 " style="width: 400px; display: inline-block; margin-left: 250px; ">
        <br>
        <h2>{{titulo}}</h2>

        
            <form method="post" id="agregarEmpleadoForm">
                {% csrf_token %}
                {{ form.as_p }}
                <a href="/empleados" class="btn btn-warning">Cancelar</a>
                <button type="submit" class="btn btn-primary">Guardar Empleado</button>
                
            </form>
        
    </div>

    <!-- Scripts al final del body para mejorar el rendimiento -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}
